.el-button {
  @apply text-hd-text;
}

.el-button--default {
  background-color: var(--hd-bg-1);

  &:hover,
  &:focus {
    background-color: color-mix(in srgb, var(--hd-bg-1) 80%, transparent);
    border: 1px solid var(--hd-primary-hover);
  }
}

// primary
.el-button--primary {
  @apply text-white;

  background-color: var(--el-color-primary);

  &:hover,
  &:focus {
    background-color: color-mix(in srgb, var(--el-color-primary) 80%, transparent);
  }

  &.is-plain:hover {
    color: var(--el-color-primary-light-5) !important;
    border-color: var(--el-color-primary-light-5) !important;
  }

  &.is-plain:active {
    color: var(--el-color-primary-light-3) !important;
  }
}

// success
.el-button--success {
  @apply text-white;

  background-color: var(--el-color-success);

  &:hover,
  &:focus {
    background-color: color-mix(in srgb, var(--el-color-success) 80%, transparent);
  }

  &.is-plain:hover {
    color: var(--el-color-success-light-5) !important;
    border-color: var(--el-color-success-light-5) !important;
  }

  &.is-plain:active {
    color: var(--el-color-success-light-3) !important;
  }
}

// warning
.el-button--warning {
  @apply text-white;

  background-color: var(--el-color-warning);

  &:hover,
  &:focus {
    background-color: color-mix(in srgb, var(--el-color-warning) 80%, transparent);
  }

  &.is-plain:hover {
    color: var(--el-color-warning-light-5) !important;
    border-color: var(--el-color-warning-light-5) !important;
  }

  &.is-plain:active {
    color: var(--el-color-warning-light-3) !important;
  }
}

// danger
.el-button--danger {
  @apply text-white;

  background-color: var(--el-color-danger);

  &:hover,
  &:focus {
    background-color: color-mix(in srgb, var(--el-color-danger) 80%, transparent);
  }

  &.is-plain:hover {
    color: var(--el-color-danger-light-5) !important;
    border-color: var(--el-color-danger-light-5) !important;
  }

  &.is-plain:active {
    color: var(--el-color-danger-light-3) !important;
  }
}

// info
.el-button--info {
  @apply text-white;

  background-color: var(--el-color-info);

  &:hover,
  &:focus {
    background-color: color-mix(in srgb, var(--el-color-info) 80%, transparent);
  }

  &.is-plain:hover {
    color: var(--el-color-info-light-5) !important;
    border-color: var(--el-color-info-light-5) !important;
  }

  &.is-plain:active {
    color: var(--el-color-info-light-3) !important;
  }
}

.custom-plain-button--green.is-disabled,
.custom-plain-button--green.is-disabled:hover {
  color: #cdecdc;
  border-color: #cdecdc;
}

.custom-plain-button--primary.is-disabled,
.custom-plain-button--primary.is-disabled:hover {
  color: #b3dff4;
  border-color: #b3dff4;
}

// -----懸浮動畫-----
.el-button {
  transition: all 0.2s ease;

  &.animation:hover {
    box-shadow:
      0 4px 4px -5px color-mix(in srgb, var(--hd-primary) 15%, transparent),
      0 6px 6px -5px color-mix(in srgb, var(--hd-primary) 15%, transparent),
      0 8px 8px -5px color-mix(in srgb, var(--hd-primary) 15%, transparent);
    transform: translateY(-2px);
  }
}

.button-tip.el-button:not(.is-text) {
  background-color: transparent;
  border: none;
}

.button-tip.el-button:not(.is-text):hover,
.button-tip.el-button:not(.is-text):focus {
  background-color: transparent;
  opacity: 0.6;
}

.el-button.is-text:not(.is-disabled):focus,
.el-button.is-text:not(.is-disabled):hover {
  background-color: transparent;
}

.el-button--default.is-text {
  @apply relative border-none;

  background-color: transparent !important;

  &::before {
    @apply absolute left-0 top-0 z-0 h-full w-full;

    z-index: 1;
    pointer-events: none;
    content: '';
    background-color: color-mix(in srgb, var(--primary-text-color) 30%, transparent);
    border-radius: inherit;
    opacity: 0;
    transition: all 0.25s ease;
    transform: scale(0.5);
  }

  &:hover {
    &::before {
      opacity: 1;
      transform: scale(1);
    }
  }

  &:hover,
  &:focus {
    @apply text-hd-text;
  }
}

.el-button--primary.is-text {
  @apply relative;

  &::before {
    @apply absolute left-0 top-0 z-0 h-full w-full;

    z-index: 1;
    pointer-events: none;
    content: '';
    background-color: color-mix(in srgb, var(--el-color-primary) 30%, transparent);
    border-radius: inherit;
    opacity: 0;
    transition: all 0.25s ease;
    transform: scale(0.5);
  }

  &:hover {
    &::before {
      opacity: 1;
      transform: scale(1);
    }
  }

  &:hover,
  &:focus {
    @apply text-hd-primary;
  }
}

.el-button--danger.is-text {
  @apply relative;

  &::before {
    @apply absolute left-0 top-0 z-0 h-full w-full;

    z-index: 1;
    pointer-events: none;
    content: '';
    background-color: color-mix(in srgb, var(--el-color-danger) 20%, transparent);
    border-radius: inherit;
    opacity: 0;
    transition: all 0.25s ease;
    transform: scale(0.5);
  }

  &:hover {
    &::before {
      opacity: 1;
      transform: scale(1);
    }
  }

  &:hover,
  &:focus {
    @apply text-hd-danger;
  }
}

.el-button--success.is-text {
  @apply relative;

  &::before {
    @apply absolute left-0 top-0 z-0 h-full w-full;

    z-index: 1;
    pointer-events: none;
    content: '';
    background-color: color-mix(in srgb, var(--el-color-success) 20%, transparent);
    border-radius: inherit;
    opacity: 0;
    transition: all 0.25s ease;
    transform: scale(0.5);
  }

  &:hover {
    &::before {
      opacity: 1;
      transform: scale(1);
    }
  }

  &:hover,
  &:focus {
    @apply text-hd-success;
  }
}

.el-button--info.is-text {
  @apply relative;

  &::before {
    @apply absolute left-0 top-0 z-0 h-full w-full;

    z-index: 1;
    pointer-events: none;
    content: '';
    background-color: color-mix(in srgb, var(--el-color-info) 20%, transparent);
    border-radius: inherit;
    opacity: 0;
    transition: all 0.25s ease;
    transform: scale(0.5);
  }

  &:hover {
    &::before {
      opacity: 1;
      transform: scale(1);
    }
  }

  &:hover,
  &:focus {
    @apply text-hd-white-50;
  }
}
