.custom-dialog {
  @apply flex w-[90%] flex-col xl:w-[70%];

  border-radius: 8px;

  .el-result {
    --el-result-padding: 24px 12px;
  }

  .el-result__title {
    --el-result-title-margin-top: 12px;
  }

  .el-result__extra {
    --el-result-extra-margin-top: 12px;
  }

  .el-result__icon svg {
    --el-result-icon-font-size: 70px;
  }

  // 關閉按鈕
  .el-dialog__headerbtn {
    @apply center;

    // @apply center absolute -right-[10px] -top-[10px] z-[100] flex h-auto w-auto
    //   rounded-[12px] p-2 text-hd-dark-50 duration-150;
    // box-shadow: 0 5px 20px 0 var(--hd-shadow) !important;
    // background-color: var(--hd-bg-1);
    // &:hover {
    //   box-shadow: 0 0 4px 0 var(--hd-shadow);
    //   transform: translate(-2px, 2px);
    //   .el-icon {
    //     @apply text-hd-dark;
    //   }
    // }
    .el-icon {
      @apply h-[24px] w-[24px] text-hd-text duration-150;

      svg {
        @apply h-[24px] w-[24px];
      }

      &:hover {
        @apply text-hd-primary-hover;
      }
    }
  }
}

.custom-dialog-body {
  .el-dialog__body {
    position: relative;
    flex: 1;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    overflow: auto;
  }

  .el-dialog__header {
    padding-top: 6px !important;
    padding-right: 0 !important;
    padding-bottom: 6px !important;
  }
}

// 表單dialog
.manage-dialog {
  padding-bottom: 0 !important;

  .el-dialog__header {
    border-bottom: 1px solid var(--hd-border);
  }
}

.custom-confirm-dialog {
  border-radius: 8px;

  .el-result__title {
    --el-result-title-margin-top: 0;
  }
}

.custom-confirm-dialog-body {
  .el-dialog__body {
    padding: 12px !important;
  }

  .el-dialog__header {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
}

@media screen and (width <= 768px) {
  .custom-dialog.el-dialog {
    width: 90% !important;
  }
}

// 底部按鈕
.custom-dialog-body footer {
  @apply pb-0;

  justify-content: flex-end !important;
}

.dialog-fade-enter-active {
  .el-dialog {
    animation: dialog-open 0.3s cubic-bezier(0.32, 0.14, 0.15, 0.86);
  }
}

.dialog-fade-leave-active {
  animation: fade-out 0.2s linear;

  .el-dialog {
    animation: dialog-close 0.2s cubic-bezier(0.78, 0.14, 0.15, 0.86);
  }
}

.fade-in-linear-enter-active {
  .el-message-box {
    animation: dialog-open 0.2s cubic-bezier(0.32, 0.14, 0.15, 0.86);
  }
}

.fade-in-linear-leave-active {
  .el-message-box {
    animation: dialog-close 0.2s cubic-bezier(0.78, 0.14, 0.15, 0.86);
  }
}
