// mesBox
.el-message-box {
  border-radius: 14px !important;
  overflow: initial !important;
  border: 0 !important;
}
// 關閉按鈕
.el-message-box__headerbtn {
  @apply -right-[6px] -top-[6px] z-[100] flex rounded-[12px] text-hd-dark-50 duration-150;
  box-shadow: 0 5px 20px 0 var(--hd-shadow) !important;
  background-color: var(--hd-bg-1);
  &:hover {
    box-shadow: 0 0 4px 0 var(--hd-shadow);
    transform: translate(-2px, 2px);
    .el-icon {
      @apply text-hd-dark;
    }
  }
  .el-icon {
    @apply h-full w-full text-hd-dark-50 duration-150;
  }
}
// 底部按鈕
.el-message-box__btns {
  justify-content: flex-end !important;
  .cancelBtn {
    @apply relative overflow-hidden border-0;
    background-color: transparent !important;
    border: 1px solid color-mix(in srgb, var(--hd-dark-50) 20%, transparent);
    span {
      z-index: 1;
    }
    &::before {
      content: '';
      // @apply absolute left-0 top-0 z-0 h-full w-full;
      @apply absolute -left-1 -top-1 z-0 h-[calc(100%+8px)] w-[calc(100%+8px)];
      background-color: color-mix(in srgb, var(--hd-dark-50) 20%, transparent);
      border-radius: inherit;
      pointer-events: none;
      transition: all 0.35s ease;
      z-index: 1;
      transform: scale(0.5);
      opacity: 0;
    }
    &:hover {
      &::before {
        transform: scale(1);
        opacity: 1;
      }
    }
    &:hover,
    &:focus {
      border: 1px solid color-mix(in srgb, var(--hd-dark-50) 20%, transparent);
      @apply text-hd-dark;
    }
  }
  .confirmBtn {
    @apply relative overflow-hidden border-0 text-hd-primary;
    background-color: transparent !important;
    border: 1px solid color-mix(in srgb, var(--hd-primary) 40%, transparent);
    span {
      z-index: 1;
    }
    &::before {
      content: '';
      @apply absolute -left-1 -top-1 z-0 h-[calc(100%+8px)] w-[calc(100%+8px)];
      background-color: color-mix(in srgb, var(--hd-primary) 40%, transparent);
      border-radius: inherit;
      pointer-events: none;
      transition: all 0.35s ease;
      z-index: 1;
      transform: scale(0.5);
      opacity: 0;
    }
    &:hover {
      &::before {
        transform: scale(1);
        opacity: 1;
      }
    }
    &:hover,
    &:focus {
      border: 1px solid color-mix(in srgb, var(--hd-primary) 40%, transparent);
      @apply text-hd-primary;
    }
  }
}
