.hd-pagination.is-background .btn-next.is-active,
.hd-pagination.is-background .btn-prev.is-active,
.hd-pagination.is-background .el-pager li.is-active {
  background-color: transparent !important;
  color: var(--hd-primary) !important;
  border: 1px solid var(--hd-primary) !important;
}

.hd-pagination.is-background .btn-next,
.hd-pagination.is-background .btn-prev,
.hd-pagination.is-background .el-pager li {
  background-color: transparent !important;
  border-radius: 6px !important;
}

.hd-pagination.is-background .btn-next,
.hd-pagination.is-background .btn-prev {
  border: 1px solid var(--hd-border) !important;
}

.hd-pagination.is-background .btn-next.is-disabled,
.hd-pagination.is-background .btn-next:disabled,
.hd-pagination.is-background .btn-prev.is-disabled,
.hd-pagination.is-background .btn-prev:disabled,
.hd-pagination.is-background .el-pager li.is-disabled,
.hd-pagination.is-background .el-pager li:disabled {
  background-color: var(--el-disabled-bg-color) !important;
}

.hd-pagination.el-pagination--small .btn-next,
.hd-pagination.el-pagination--small .btn-prev,
.hd-pagination.el-pagination--small .el-pager li {
  font-size: 14px !important;
  height: 26px !important;
  line-height: 26px !important;
  min-width: 26px !important;
}
