# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
# .vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
Icon

types/auto-imports.d.ts
types/components.d.ts

docs/.vitepress/dist
docs/.vitepress/cache
docs/.firebase

stats.html
.eslintcache
.vercel
vite.config.ts.timestamp-1723979933308-72311fa29ec4b.mjs
