// slide-fade
.slide-fade-enter-active {
  animation: slide-in 0.5s ease-in forwards;
}

.slide-fade-leave-active {
  opacity: 0;
  transition: opacity 1s;
  animation: slide-out 0.7s ease-out forwards;
}

@keyframes slide-in {
  from {
    opacity: 0;
    transition: opacity 1.5s;
    transform: translateX(30px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide-out {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(30px);
  }
}

// top-slide-fade
.top-slide-fade-enter-active {
  animation: top-slide-in 0.5s ease-in forwards;
}

.top-slide-fade-leave-active {
  opacity: 0;
  transition: opacity 1s;
  animation: top-slide-out 0.7s ease-out forwards;
}

@keyframes top-slide-in {
  from {
    opacity: 0;
    transition: opacity 1.5s;
    transform: translateY(-30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes top-slide-out {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-30px);
  }
}

@keyframes dialog-open {
  0% {
    opacity: 0;
    transform: scale(0.2);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes dialog-close {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(0.2);
  }
}

// 遮罩层动画
@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/* fade-slide */
.fade-slide-leave-active,
.fade-slide-enter-active {
  transition: all 0.3s;
}

.fade-slide-enter-from {
  opacity: 0;
  transform: translateX(-30px);
}

.fade-slide-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

.hover-transition-bg {
  @apply relative cursor-pointer;

  &::before {
    @apply absolute left-0 top-0 z-0 h-full w-full;

    z-index: 1;
    pointer-events: none;
    content: '';
    background-color: color-mix(in srgb, var(--primary-text-color) 10%, transparent);
    border-radius: inherit;
    opacity: 0;
    transition: all 0.25s ease;
    transform: scale(0.5);
  }

  &:hover {
    &::before {
      opacity: 1;
      transform: scale(1);
    }
  }
}
