.el-drawer__body {
  padding: 0 !important;
}

.el-switch.is-disabled {
  opacity: 1 !important;
}

:root.dark .el-segmented {
  --el-segmented-color: #fff !important;
}

.el-segmented__item:not(.is-disabled, .is-selected):hover {
  background-color: transparent !important;
}

.theme-setting-drawer {
  .el-drawer__header {
    color: var(--hd-text);
    margin-bottom: 10px;
  }

  .el-color-picker__trigger {
    width: 60px;
  }
}
